/**********
 * OPTIONS
 **********/
&.inline {
	display: inline-flex;
	margin-right: remy(25);
}

&.right {
	align-items: flex-end;
	.checkboxes-wrap {
		align-items: flex-end;
	}
}

&.horizontal {
	flex-direction: row;
	.checkboxes-wrap {
		flex-direction: row;
	}
}